html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(39, 62, 71);
    background-color: rgb(228,228,227);
    letter-spacing: .1rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
img {
    width: 100%;
}
.center {
    margin: 0 auto;
}
/* *****************************************
        Background&Color Set
***************************************** */
.bg-pastel-gray {background-color: rgb(205,206,196);}
.color-pastel-gray {color: rgb(205,206,196);}
.bg-japanese-indigo {background-color: rgb(39,62,71);}
.color-japanese-indigo {color: rgb(39,62,71);}
.bg-deep-carmin {background-color: rgb(164,36,59);}
.color-deep-carmin {color: rgb(164,36,59);}
.bg-tiger-eye {background-color: rgb(216,151,60);}
.color-tiger-eye {color: rgb(216,151,60);}
.bg-ruddy-brown {background-color: rgb(189,99,47);}
.color-ruddy-brown {color: rgb(189,99,47);}
.bg-snow {background-color: rgb(228,228,227);}
.color-snow {color: rgb(228,228,227);}
/* -------------------------------------- */ 
.bg-color-test {background:blueviolet;} 
/* *****************************************
            Text lvl (Commun)
***************************************** */
.text-lvl1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.text-lvl2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-style: italic;
}
.text-lvl3 {
    font-size: .8rem;
}
.text-lvl4 {
    font-size: .6rem;
}
/* *************************************** */
  