/* *********************************************
                Header
********************************************* */
.header-box {
    display: flex;
    justify-content: space-around;
}
    /* *****************************************
        navigation tablette et desktop
    ***************************************** */
    .menu {
        visibility: hidden;
    }
    /* *****************************************
            Bouton navigation phone
    ***************************************** */
    .btn-menu {
        position:relative;
        /* border: 1px solid rgb(228,228,227); */
        width:40px;
        height:40px;
        transition: 0.5s;
        margin: 1rem; /* marge exterieux à la bordure */
    }
    .hamburger-box {
        top:50%;
        width: 100%;
        height: .3rem;
        position: absolute;
        background-color: rgb(228,228,227);
        transition: 0.5s;
    }
    .hamburger-box:before {
        top: -12px;
    }
    .hamburger-box:after {
        top: 10px;
    }
    .hamburger:before, .hamburger:after {
        content: '';
        position:absolute;
        width: 100%;
        height: .4rem;
        background:rgb(228,228,227);
        transition:0.5s;
    }
    /* *****************************************
            Button's Animation Position
    ***************************************** */
    .btn-menu.active-btn-menu .hamburger {
        background:rgba(0,0,0,0);
    
    }
    
    .btn-menu.active-btn-menu .hamburger:before {
        top: 0;
        transform:rotate(135deg);
    }
    
    .btn-menu.active-btn-menu .hamburger:after {
        top: 0;
        transform:rotate(225deg);
    }
/* *********************************************
                Section Image
********************************************* */

/* *********************************************
                Section Main
********************************************* */
.main-box {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}
.h1-box {
    order: 2;
    padding: .2rem 0 1rem 0;
    text-align: center;
}
.h2-box {
    order: 1;
    text-align: center;
}
.p-box {
    order: 3;
    text-align: left;
    line-height: 1.4rem;
    padding: 0 1rem 0 1rem;
}
/* *********************************************
                Section Footer
********************************************* */
.footer-box {
    padding: 1.2rem;
}
.icones-link-box {
    text-align: center;
}
.mention-legal {
    padding: 1rem ;
    text-align: left;
}

/* tablettes */
/* @media only screen and (maxi-width:1020px) {


} */
/* téléphone */
/* @media only screen and (maxi-width:480px) {

    .img {
        width:100%;
        height: 200px;
    }

} */
